<%- include('layout/head.ejs') %>
  <%- include('layout/nav.ejs') %>

    <div class="hero">
      <h1 style="color: red">Oops, You have enter a route url or Invalid your</h1>
    
      <div class="button">
        
        <a href="/" class="btn btn-two">Back to Home</a>
      </div>
    
    </div>

  <%- include('layout/footer.ejs') %>
