<html>
<head>
    <title>Viribus Com</title>
    
    <link href="assests/css/style.css" rel="stylesheet" type="text/css">

</head> 
<body>
    <header>
        
        <nav id="navbar">
        <div class="container">
            <ul> 
                <a href="index.html"><img class="logo" src="assests/img/vLogo.jpg"></a>
                <li class="active"><a href="index.html"> Home </a></li>
                <li><a href="addcustomer.html"> Add Customer </a></li>
                <li><a href="updatecustomer.html"> Update Customer</a></li>
                <li><a href="response.html"> Response</a></li>
            
            </ul>    
        
    </div>
    </nav>
        
    <div class="hero">
    <h3>Welcome to Viribus!</h3>
           
            
    </div>
    
    </header>


        
</body>    
</html>
