<html>
<head>
    <title>Viribus Com</title>
    <link href="viribussite.css" rel="stylesheet" type="text/css">
        <link href="assests/css/style.css" rel="stylesheet" type="text/css">

</head> 
<body>
    <header>
        
        <nav id="navbar">
            <div class="container">
            <ul> 
        <a href="index.html"><img class="logo" src="assests/img/vLogo.jpg"></a>
        <li class="active"><a href="index.html"> Home </a></li>
        <li><a href="services.html"> Shop </a></li>
        <li><a href="supports.html"> Support </a></li>
        <li><a href="Payment.html"> Payment Cards </a></li>
        <li><a href="detail.html"> Add/Update Details </a></li>
        <li><a href="login_page.html"> Logout </a></li>
    </ul>    
        
    </div>
        
    </nav>
    <div class="hero">
    <h1>Welcome to Viribus!</h1>
        
    <div class="button">
        <a href="" class="btn btn-one"> What's New</a>
        <a href="" class="btn btn-two"> Explore More</a>    
    </div>    
            
    </div>
    
    </header>


        
</body>    
</html>
