<%- include('layout/head.ejs') %>
<%- include('layout/nav.ejs') %>
     
    <div class="hero">
    <h1>Welcome to Viribus!</h1>
        
    <div class="button">
        <a href="" class="btn btn-one"> What's New</a>
        <a href="services.html" class="btn btn-two"> Explore More</a>    
    </div>    
            
    </div>
    
<% include('layout/footer.ejs') %>