<%- include('layout/head.ejs') %>

  <link rel="stylesheet" type="text/css" href="response.css">
	<script type="text/javascript" src="assests/js/index.js"></script>

<%- include('layout/nav.ejs') %>

<div class="container" style="width: 50%;margin-left: 31%;">
	<h2 style="text-align: center;">Please reply here!</h2>
  
  <form onsubmit=" return reply()">
    <label for="lname">Customer Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Customer email.">

    <label for="subject">Comment</label>
    <textarea id="subject" name="subject" placeholder="Your comment!" style="height:130px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>

</body>
</html>