<%- include('layout/head.ejs') %>

  <link rel="stylesheet" type="text/css" href="assests/css/services.css">

<%- include('layout/nav.ejs') %>

    <div class="hero">
      <h1 class="headtext">Our Services</h1>
    </div>
    </body>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="assests/img/android.jpg" alt="Sunday" style="width:100%">
          <div class="container">
            <br><br><br>
            <h2>Apple contract</h2>
            <p>Price £70</p>
            <p>24 month of unlimited call & Data  </p>
            <p>Iphone 11 128GB</p>
            <a href="Payment.html"><p><button class="button">Order Now</button></p></a>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="assests/img/apple.png" alt="Sunday" style="width:100%">
          <div class="container">
            <br><br><br>
            <h2>Android contract</h2>
            <p>Price £60</p>
            <p>24 month of unlimited call & Data  </p>
            <p>Apple Iphone 128GB</p>
            <a href="Payment.html"><p><button class="button">Order Now</button></p></a>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="assests/img/sim.jpg" alt="Victor" style="width:100%">
          <div class="container">
            <h2>5G sim only contract</h2>
            
            <p>Price £20</p>
            <p>12 month of unlimited call & Data </p>
            <a href="Payment.html"><p><button class="button">Order Now</button></p>
          </div>
    
    
        </div>
      </div>
    </div>
<%- include('layout/footer.ejs') %>