.hero {
  position: absolute;
  width: 1200px;
  margin-left: 0px;
  margin-top: 0px;
}

.loginbox {
  width: 320px;
  height: 500px;
  color: #fff;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 60px 30px;
  text-align: center;
}

h1 {
  margin: 20;
  padding: 0 0 20px;
  text-align: center;
  font-size: 25px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.loginbox input {
  width: 100%;
  margin-bottom: 30px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 15px;
}
.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: lightpink;
  color: #fff;
  font-size: 15px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.loginbox a {
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: #ffc107;
}
