<nav id="navbar">
  <div class="container">
    <ul>
      <a href="/"><img class="logo" src="assests/img/vLogo.jpg"></a>
      <li><a href="/admin"> Home </a></li>
      <li class="active"><a href="/addcustomer"> Add Customer </a></li>
      <li><a href="/updatecustomer"> Update Customer</a></li>
      <li><a href="/response"> Response</a></li>

    </ul>

  </div>
</nav>