<nav id="navbar">
  <div class="container">
    <ul>
      <a href="/"><img class="logo" src="assests/img/vLogo.jpg"></a>
      <li><a href="/"> Home </a></li>
      <li><a href="/services"> Shop </a></li>
      <li ><a href="/dashboard"> Dashboard </a></li>
      <li ><a href="/payment"> Payment Cards </a></li>
      <li><a href="/updatecustomer"> Add/Update Details </a></li>
      <li><a href="/"> Logout </a></li>

    </ul>

  </div>
</nav>