<nav id="navbar">
  <div class="container">
    <ul>
      <a href="/"><img class="logo" src="assests/img/vLogo.jpg"></a>
      <li class="active"><a href="/"> Home </a></li>
      <li><a href="/services"> Services </a></li>
      <li><a href="/supports"> Support </a></li>
      <li><a href="/sign_up"> Sign Up </a></li>
      <li><a href="/login"> Login </a></li>
    </ul>

  </div>
</nav>